/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

body {
    font-family: 'Montserrat';
    background: #FAFAFA;
    color: #252B42;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

/* ---------------------------------------------- */
.wrapper {
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1046px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}

/* -----------------HEADER----------------------------- */
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;  
}

@media screen and (max-width: 479px) {
    .header__container {
    min-height: 70px;
    }
}

.header__logo {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: inherit;
    
}

/* .header__logo::after{
    display: block;
    content: '';
    width: 150px;
    height: 12px;
    background-color: #737373;
    position: absolute;
    bottom: -15;
    left: 0;
} */

.header__menu {
    margin: 0 0 0 133px;
}

@media screen and (max-width: 992px) {
    .header__menu {
        margin: 0 0 0 80px;
    }
}
@media screen and (max-width: 767px) {
    .header__menu {
        margin: 0 0 0 40px;
    }
}
@media screen and (max-width: 479px) {
    .header__menu {
        margin: 0 0 0 20px;
    }
}


.menu {
    padding: 8px 5px;
}
 
.menu__list {
    display: flex;
    flex-wrap: wrap;
    
}
.menu__item:not(:last-child) {
    margin: 0 21px 0 0;
}
.menu__link {
    color: #737373;
    font-weight: 600;
    line-height: 171%;
}

.menu__link:hover, .menu__link:focus {
    color: #FF7B47; 
}

.menu__link:active {
    color: #252B42;
}
/* ---------------------------------------------- */



/* ----PAGE---------------------------------------*/
.page {
    flex: 1 1 auto;
}
@media screen and (max-width: 1024px) {
    .page {
        flex: 0 0 auto;
    }
}
.page__main-block {
}

.page__services {
    margin: -111px 0 0 0;
    z-index: 999;
    position: relative;
}
.page__adventages {
}
.page__advice {
}
.page__whoweare {
}



/* ----MAIN---------------------------------------*/
.main-block {
    position: relative;
}
.main-block__container {
}

.main-block__body {
    position: relative;
    z-index: 2;
    padding: 184px 0 191px 0;
    max-width: 402px;  
}
@media screen and (max-width: 992px) {
    .main-block__body {
        padding: 120px 0 191px 0;
    }
}

.main-block__body > *:not(:last-child) {
    margin: 0 0 35PX 0;
}


.main-block__title {
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: calc(80/58*100%);    
}
@media screen and (max-width: 479px) {
    .main-block__title {
       font-size:  42px;
    }
}
 
.main-block__text {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(30/20*100%);
    color: #737373;
}
@media screen and (max-width: 479px) {
    .main-block__text  {
        color: #494848;
    }
}

.main-block__buttons {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 14px;
    line-height: calc(28/14*100%);
    letter-spacing: 0.2px;
    margin: -10px 0;
    
    
}
.mail-block__button {
    border-radius: 37px;    
    display: flex;
    min-height: 48px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 36px;
    color: #0D5C63;
    border: solid 2px #0D5C63;
    background: transparent;
    margin: 10px 0;
}
@media screen and (max-width: 479px) {
    .mail-block__button {
       flex: 1 1 auto;
    }
}


.mail-block__button:not(:last-child) {
    margin-right:10px;
}

.mail-block__button:hover, .mail-block__button:focus {
    color: #FFFFFF;
    background: #FF7B47;
    border: solid 2px  #FF7B47;
}

.mail-block__button:active {
    color: #0D5C63;
    background: transparent;
    border: dashed 2px  #FF7B47;
}

.main-block__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
@media screen and (max-width: 1300px) {
    .main-block__img img {
        object-position: right;
    }
}
@media screen and (max-width: 992px) {
    .main-block__img {
        opacity: 0.65;
    }
}
@media screen and (max-width: 479px) {
    .main-block__img {
        opacity: 0.45;
    }
}
/* ---------------------------------------------- */



/* ----SERVICES-----------------------------------*/

.services {
}
.services__container {
}

.services__body{
}

@media screen and (min-width: 670px) {
.services__body {
    display: flex;
    margin: 0 -15px -30px;
    flex-wrap: wrap;
}}

.services__column {
    flex: 0 1 33.333%;
    margin: 0 0 30px 0;
}

@media screen and (min-width: 670px) {
    .services__column {
        padding: 0px 15px;
}}

@media screen and (max-width: 992px) {
    .services__column {
        flex: 0 1 50%;
    }
    .services__column:last-child {
        flex: 1 1 100%;
    }
}

.services__item {
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    padding: 35px;
    height: 100%;
}
@media screen and (max-width: 479px) {
    .services__item {
        padding: 18px;
}}


.item-service {
    
}

.item-service__green {
    background: #0D5C63;
    color: #FFFFFF;
}

.item-service__green .item-service__text {
    color: #FFFFFF;
}

.item-service > *:not(:last-child) {
    margin: 0 0 10px 0;
}

.item-service__icon {
}

.item-service__title {
    flex: 1 1 auto;
    font-weight: bold;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    flex: 
}
.item-service__text {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(20/14*100%); 
    color: #737373;
}
/* ---------------------------------------------- */


/* -----ADVENTAGES------------------------------- */

.adventages {
    padding: 80px 0 60px 0 ;
}
@media screen and (max-width: 1105px) {
    .adventages {
        padding: 50px 0 40px 0;
    }}

@media screen and (max-width: 670px) {
    .adventages {
        padding: 35px;
    }}

.adventages__container {
}
.adventages__header {
    margin: 0 0 50px 0;
}
@media screen and (max-width: 670px) {
    .adventages__header {
        margin: 0 0 20px 0;
    }}

.header-block {
    text-align: center;  
}
.header-block > *:not(:last-child) {
    margin: 0px 0 10px 0;
}
.header-block__title {
    line-height: 140%;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 0.2px;
}
@media screen and (max-width: 990px) {
    .header-block__title {
    font-size: 30px;
    }}

.header-block__subtitle {
    line-height: 140%;
    color: #737373;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
}



.adventages__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.adventages__column {
    padding: 0 15px;
    flex: 0 1 25%;
}

@media screen and (max-width:1105px)  {
    .adventages__column {
        padding: 15px 15px;
        flex: 0 1 50%;
    }}
@media screen and (max-width: 670px) {
    .adventages__column {
        flex: 1 1 100%;
    }}



.adventages__item {
    background: #FFFFFF;
    padding: 30px 40px;
    text-align: center;
    height: 100%;
    box-shadow: 0px 13px 19px rgba(99, 99, 99, 0.02);
}

.adventages__item > *:not(:last-child, :first-child) {
    margin: 12px 0 10px 0;
}

.adventages__icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.adventages__value {
    font-weight: 800;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;

}
.adventages__text {
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 150%; 
    color: #737373; 
}
/* ---------------------------------------------- */


/* -------ADVICE--------------------------------- */
.advice {
    padding: 80px;
}
@media screen and (max-width: 1104px) {
    .advice {
        padding: 25px;
    }}
@media screen and (max-width: 670px) {    
    .advice {
        padding: 15px;
    }}
.advice__container {
}

.advice__header {
    margin: 0 0 45px 0;
}
@media screen and (max-width: 670px) {
    .advice__header {
        margin: 0 0 25px 0;
    }} 

.advice__body {
    display: flex;
    flex-wrap: wrap;
    margin: -0px -20px;
    padding: 45px 0 10px 0;
}
@media screen and (max-width: 1104px) {
    .advice__body {
        padding: 10px 0 20px 0 ;
    }}


.advice__column {
    flex: 0 1 25%; 
    padding: 00px 20px;   
}

@media screen and (max-width: 1104px) {
    .advice__column {
        flex: 1 1 50%;
        padding: 20px 20px;  
    }}
@media screen and (max-width: 670px) {
    .advice__column {
        flex: 1 1 100%; 
        padding: 10px 10px;  
    }}

.advice__item {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 100%;  
    box-shadow: 0px 13px 19px rgba(99, 99, 99, 0.02);
}
.item-advice__content {
    padding: 30px;
    flex: 1 1 auto;
}

.item-advice {
}

.item-advice__link {
    color: inherit;
    display: inline-block;
}
.item-advice__link:not(:last-child) {
    margin: 0 0 15px 0;
}
.item-advice__link:hover {
    text-decoration:underline;
}


.item-advice__title {
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
}


.item-advice____text {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
}

.item-advice__img {
    display: block;
    padding: 0 0 60% 0;
}

/* ------WHO*WE*ARE------------------------------- */

.whoweare {
    background: #FFFFFF;
    padding: 80px 0 100px;
    align-items: flex-start;
}
@media screen and (max-width: 1104px) {
    .whoweare {
        padding: 25px;
    }}
@media screen and (max-width: 960px) {
    .whoweare {
        padding: 25px 15px;
    }} 



.whoweare__container {
}

.whoweare__header {
    margin: 0 0 100px 0;
}
@media screen and (max-width: 1104px) {
    .whoweare__header {
        margin: 10px 0 50px 0;
    }}
@media screen and (max-width: 960px) {
    .whoweare__header {
        margin: 0px 0 30px 0;
    }}
        

.whoweare__body {
    display: flex;
}
@media screen and (max-width: 960px) {
    .whoweare__body {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }}


.whoweare__video {
    flex: 0 0 57%;
    position: relative;
    padding: 0 0 42.3% 0;
}
@media screen and (max-width: 960px) {
    .whoweare__video {
        flex: 0 0 100%;
        padding: 0 0 56.25% 0;
    }}

.whoweare__video iframe { 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.whoweare__content {
    margin: 0 0 0 120px;
    flex: 1 1 auto;
}
@media screen and (max-width: 1104px) {
.whoweare__content {
    margin: 0 0 0 50px;
}}
@media screen and (max-width: 960px) {
    .whoweare__content {
        margin: 0 0 20px 0px;
    }}


.whoweare__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
}
@media screen and (max-width: 960px) {
    .whoweare__title {
        font-size: 24px;}}

.whoweare__title:not(:last-child) { 
    margin: 0 0 10px 0;
}

.whoweare__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
}
.whoweare__text:not(:last-child) { 
    margin: 0 0 50px 0;
}


.whoweare__items {
    
}
.whoweare__item {
}
.item-whoweare {
    display: flex;
}
.item-whoweare:not(:last-child) {
    margin: 0 0 30px 0px;
}

.item-whoweare__icon {
    /* margin: 0 20px 0 0; */
    flex: 0 0  32px;   
}
.item-whoweare__body {
    flex: 1 1 auto;
    padding: 0 0 0 20px;
}
.item-whoweare__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
}
.item-whoweare__title:not(:last-child) { 
    margin: 0 0 5px 0;
}



.item-whoweare__text {
    font-weight: 600;
    font-size: 14px;
    line-height:  171%;
    letter-spacing: 0.2px;
    color: #737373;
}




/* ---------------------------------------------- */



/* ----FOOTER-------------------------------------*/
.footer {
    align-items: flex-end;
    text-align: center;
}
/* ---------------------------------------------- */